body{
	background-color: lightgrey;
}

#first{
	color: black;
}

.small{
	font-size: 22px;
}

h1{
	color: orange;
	font-size: 90px;
	text-decoration: underline;
	font-family: arial;
}

h2{
	font-size: 30px;
	color: blue;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}